{% for item in groups['core_switches'][host]hostvars %}
set system name-server "{{ ['dns-servers'][0] }}"
set system name-server "{{ ['dns-servers'][1] }}"
set system host-name "{{ ['hostname'] }}"
{% endfor %}
