{% for item in groups['core_switches'][host] %}
set system name-server "{{ item.['dns-servers'][0] }}"
set system name-server "{{ item.['dns-servers'][1] }}"
set system host-name "{{ item.['hostname'] }}"
{% endfor %}
