{% for i in csw1_vars %}
set interfaces irb unit {{ i.irb_prefix }}{{ i.vlan_id }} description "MFD325-MDF-FW1 int ethernet1/3 {{ i.role }}"
set interfaces irb unit {{ i.irb_prefix }}{{ i.vlan_id }} family inet address 169.254.{{ i.vlan_id }}.{{ i.irb_net_oct }}/30
set vlans trust_{{ i.role }}_palo_p2p vlan-id {{ i.irb_prefix }}{{ i.vlan_id }}
set vlans trust_{{ i.role }}_palo_p2p l3-interface irb.{{ i.irb_prefix }}{{ i.vlan_id }}
{% endfor %}

