{% for i in csw_vars %}
set interfaces ge-0/0/2 vlan-tagging
set interfaces ge-0/0/2 mtu 9192
set interfaces ge-0/0/2 unit {{ i.ge_0_0_2_prefix }}{{ i.vlan_id }} description "MFD325-MDF-DSW1 int ge-0/0/0 {{ i.role }}"
set interfaces ge-0/0/2 unit {{ i.ge_0_0_2_prefix }}{{ i.vlan_id }} vlan-id {{ i.ge_0_0_2_prefix  }}{{ i.vlan_id }}
set interfaces ge-0/0/2 unit {{ i.ge_0_0_2_prefix }}{{ i.vlan_id }} family inet address 169.254.{{ i.vlan_id }}.{{ i.ge_0_0_2_octet }}/30
set interfaces ge-0/0/3 vlan-tagging
set interfaces ge-0/0/3 mtu 9192
set interfaces ge-0/0/3 unit {{ i.ge_0_0_3_prefix }}{{ i.vlan_id }} description "MFD325-MDF-DSW1 int ge-1/0/0 {{ i.role }}"
set interfaces ge-0/0/3 unit {{ i.ge_0_0_3_prefix }}{{ i.vlan_id }} vlan-id {{ i.ge_0_0_3_prefix  }}{{ i.vlan_id }}
set interfaces ge-0/0/3 unit {{ i.ge_0_0_3_prefix }}{{ i.vlan_id }} family inet address 169.254.{{ i.vlan_id }}.{{ i.ge_0_0_3_octet }}/30
set interfaces irb unit {{ i.irb_prefix }}{{ i.vlan_id }} description "MFD325-MDF-FW1 int ethernet1/3 {{ i.role }}"
set interfaces irb unit {{ i.irb_prefix }}{{ i.vlan_id }} family inet address 169.254.{{ i.vlan_id }}.{{ i.irb_net_oct }}/30
set routing-instances vr-trust_{{ i.role }} instance-type virtual-router
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/2.{{ i.ge_0_0_2_prefix  }}{{ i.vlan_id }} interface-type p2p
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/2.{{ i.ge_0_0_2_prefix  }}{{ i.vlan_id }} hello-interval 3 dead-interval 12 
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/2.{{ i.ge_0_0_2_prefix  }}{{ i.vlan_id }} authentication md5 1 key {{ i.ospf_md5}}
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/2.{{ i.ge_0_0_2_prefix  }}{{ i.vlan_id }} bfd-liveness-detection minimum-interval 1500 multiplier 4 full-neighbors-only
set routing-instances vr-trust_{{ i.role }} interface ge-0/0/2.{{ i.ge_0_0_2_prefix  }}{{ i.vlan_id }} 
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/3.{{ i.ge_0_0_3_prefix  }}{{ i.vlan_id }} interface-type p2p
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/3.{{ i.ge_0_0_3_prefix  }}{{ i.vlan_id }} hello-interval 3 dead-interval 12 
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/3.{{ i.ge_0_0_3_prefix  }}{{ i.vlan_id }} authentication md5 1 key {{ i.ospf_md5}}
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface ge-0/0/3.{{ i.ge_0_0_3_prefix  }}{{ i.vlan_id }}  bfd-liveness-detection minimum-interval 1500 multiplier 4 full-neighbors-only
set routing-instances vr-trust_{{ i.role }} interface ge-0/0/3.{{ i.ge_0_0_3_prefix  }}{{ i.vlan_id }}
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface irb.{{ i.irb_prefix }}{{ i.vlan_id }} interface-type p2p
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface irb.{{ i.irb_prefix }}{{ i.vlan_id }} hello-interval 3 dead-interval 12 
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface irb.{{ i.irb_prefix }}{{ i.vlan_id }} authentication md5 1 key {{ i.ospf_md5}}
set routing-instances vr-trust_{{ i.role }} protocols ospf area 0.0.0.0 interface irb.{{ i.irb_prefix }}{{ i.vlan_id }} bfd-liveness-detection minimum-interval 1500 multiplier 4 full-neighbors-only
set routing-instances vr-trust_{{ i.role }} interface irb.{{ i.irb_prefix }}{{ i.vlan_id }} 
set vlans trust_{{ i.role }}_palo_p2p vlan-id {{ i.irb_prefix }}{{ i.vlan_id }}
set vlans trust_{{ i.role }}_palo_p2p l3-interface irb.{{ i.irb_prefix }}{{ i.vlan_id }}
{% endfor %}
